include ../../includes/header.pug
include ../../includes/topbar-hotel.pug

.row.no-gutters
  include ../../includes/leftside-hotel.pug

  #content.col-md-8.col-lg-9.col-xl-10
    .row.no-gutters
      .col-md-10.col-xl-8
        .row
          .col-lg-7
            h1 객실정보
            .lead.mb-5 객실타입의 정보를 변경하고 판매/미판매 상태를 설정할 수 있습니다.
          .col-lg-5.text-right
            .d-flex
              - 
                var message01 = `
                  swal({
                    title: "SUPERIOR ROOM (더블)<br>객실을 삭제하시겠습니까?",
                    text: "객실 삭제시 현재까지의 예약내역만 보존되고<br>나머지 정보는 모두 삭제됩니다.",
                    html: true,
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "네, 삭제합니다",
                    cancelButtonText: "취소"                  
                  });
                  `
              button.btn.btn-secondary.mr-2.ml-auto(type='button', onclick= message01)
                i.fa.fa-trash.fa-lg.mr-1
                span 객실삭제
              .dropdown
                button#dropdownMenuButton1.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | 객실정보 불러오기
                .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton1')
                  a.dropdown-item(href='#')
                    | SUPERIOR ROOM (더블)
                    small.text-muted.ml-2 2/4명
                  a.dropdown-item(href='#')
                    | SUPERIOR ROOM (트윈)
                    small.text-muted.ml-2 2/4명
                  a.dropdown-item(href='#')
                    | DELUXE ROOM (더블)
                    small.text-muted.ml-2 2/4명
                  a.dropdown-item(href='#')
                    | DELUXE ROOM (트윈)
                    small.text-muted.ml-2 2/4명
                  a.dropdown-item(href='#')
                    | JR.SUITE ROOM
                    small.text-muted.ml-2 2/4명
                  

        .form-group.row
          label.col-md-3.col-form-label 판매 On/Off
          .col-md-9            
            label.switch
              input(type='checkbox', checked)
              span.slider.round            
        .form-group.row
          label.col-md-3.col-form-label 객실명
          .col-md-9
            input.form-control(type='text', value='')
        .form-group.row
          label.col-md-3.col-form-label 재고수
          .col-md-9
            .form-row
              .col-md-6
                .input-group
                  input.form-control(type='number', min='1')
                  .input-group-addon 개
        .form-group.row
          label.col-md-3.col-form-label 객실소개
          .col-md-9
            textarea.form-control(rows='4')
        .form-group.row
          label.col-md-3.col-form-label 수용인원
          .col-md-9
            .form-row
              .col-lg-6
                .input-group
                  .input-group-addon 기준
                  input.form-control(type='number', min='1')                  
              .col-lg-6
                .input-group
                  .input-group-addon 최대
                  input.form-control(type='number', min='1')                  
        .form-group.row
          label.col-md-3.col-form-label 객실크기
          .col-md-9
            .form-row
              .col-md-6
                .input-group
                  input.form-control(type='number', min='1')
                  .input-group-addon
                    | m
                    sup 2
              .col-md-6
                .input-group
                  input.form-control(type='number', min='1')
                  .input-group-addon 평
        .form-group.row
          label.col-md-3.col-form-label 베드타입
          .col-md-9
            .form-row
              .col-lg-4
                .input-group
                  .input-group-addon 싱글베드
                  input.form-control(type='number', min='1')
              .col-lg-4
                .input-group
                  .input-group-addon 더블베드
                  input.form-control(type='number', min='1')
              .col-lg-4
                .input-group
                  .input-group-addon 퀸베드
                  input.form-control(type='number', min='1')
            .form-row.mt-3
              .col-lg-4
                .input-group
                  .input-group-addon 킹베드
                  input.form-control(type='number', min='1')
              .col-lg-4
                .input-group
                  .input-group-addon 소파베드
                  input.form-control(type='number', min='1')
        
        hr.my-5

        .form-group.row
          label.col-md-3.col-form-label 객실사진
          .col-md-9
            p 사진순서는 드래그로 변경 가능하며, 첫번째 사진이 대표 사진으로 설정됩니다.
            .image-upload.form-row
              .unit.col-4.grabbable(dragable=true)
                img.img-thumbnail(src='/images/temp-hotel-01.png')
                button.btn.btn-dark(type='btn')
                  i.fa.fa-trash-o.fa-lg
                input.form-control.mt-1(type='text', value='', placeholder='사진설명')  
              .unit.col-4.grabbable(dragable=true)
                img.img-thumbnail(src='/images/temp-hotel-02.png')
                button.btn.btn-dark(type='btn')
                  i.fa.fa-trash-o.fa-lg
                input.form-control.mt-1(type='text', value='', placeholder='사진설명')          
              .unit.col-4.grabbable(dragable=true)
                img.img-thumbnail(src='/images/temp-hotel-03.png')
                button.btn.btn-dark(type='btn')
                  i.fa.fa-trash-o.fa-lg
                input.form-control.mt-1(type='text', value='', placeholder='사진설명')          
              .unit.col-4.grabbable(dragable=true)
                img.img-thumbnail(src='/images/temp-hotel-04.png')
                button.btn.btn-dark(type='btn')
                  i.fa.fa-trash-o.fa-lg
                input.form-control.mt-1(type='text', value='', placeholder='사진설명')          
              .unit.col-4.grabbable(dragable=true)
                img.img-thumbnail(src='/images/temp-hotel-05.png')
                button.btn.btn-dark(type='btn')
                  i.fa.fa-trash-o.fa-lg
                input.form-control.mt-1(type='text', value='', placeholder='사진설명')          
              .unit.col-4.grabbable(dragable=true)
                img.img-thumbnail(src='/images/temp-hotel-06.png')
                button.btn.btn-dark(type='btn')
                  i.fa.fa-trash-o.fa-lg
                input.form-control.mt-1(type='text', value='', placeholder='사진설명')
            label.btn.btn-primary
              i.fa.fa-camera.fa-lg.mr-1
              span 사진추가
              input(type='file', hidden)
        
        hr.my-5

        .form-group.row
          label.col-md-3.col-form-label 객실전망
          .col-md-9
            .card
              .card-body
                .check-group.d-flex.flex-wrap
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 바다 전망
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 산 전망
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 도시 전망
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 정원 전망
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 강 전망
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 창문없음                  

        .form-group.row
          label.col-md-3.col-form-label 객실 내 시설
          .col-md-9
            .card
              .card-body
                .check-group.d-flex.flex-wrap
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 냉장고
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 다리미
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 드라이기
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 미니바
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 쇼파
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 스파/월풀
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 에어컨
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 욕실용품
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 욕조
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 전기밥솥
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 커피포트
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | TV
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 흡연가능
                  .form-check
                    label.form-check-label
                      input.form-check-input(type='checkbox')
                      | 파티룸
        
        .py-4
        hr.py-2
        button.btn.btn-primary.btn-lg.btn-block(type='button') 저장

                  
              